hostname ler1
banner motd ;
--------------------------------------------------------------------------
  Cisco IOS XR Programmability Lab
--------------------------------------------------------------------------
;
logging console disable
logging buffered 125000000
service timestamps log datetime msec
service timestamps debug datetime msec
username admin
 group root-lr
 group cisco-support
 secret 5 $1$arsr$3kx1Ur/9N/TAcws8i2drx/
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
netconf-yang agent
 ssh
!
interface MgmtEth0/RP0/CPU0/0
 description *** MANAGEMENT INTERFACE ***
 ipv4 address 198.18.1.11 255.255.255.0
!
interface GigabitEthernet0/0/0/0
 ipv4 address 172.16.1.0 255.255.255.254
 no shutdown
!
interface GigabitEthernet0/0/0/1
 shutdown
!
router static
 address-family ipv4 unicast
  10.16.0.0/16 198.18.1.1
  10.64.0.0/16 198.18.1.1
  198.18.0.0/16 198.18.1.1
 !
!
ssh server v2
ssh server netconf vrf default
!!GRPC configuration
grpc
 port {{rtr_grpc_port}}
 no-tls
tpa
 vrf default
    address-family ipv4
    update-source dataports MgmtEth0/RP0/CPU0/0
!! Telemetry configuration
telemetry model-driven
destination-group {{rtr_destination_name}}
  vrf default
  address-family ipv4 {{controller_ip}} port {{controller_port}}
   encoding self-describing-gpb
   protocol grpc no-tls
{% for sensor_group in sensor_groups %}
sensor-group {{sensor_group.sensor_name}}
{% for sensor_path in sensor_group.sensor_paths %}
sensor-path {{sensor_path}}
{% endfor %}
{% endfor %}
{% for subscription in subscriptions %}
subscription {{subscription.name}}
  {% for sensor_group in subscription.sensor_groups%}
  sensor-group-id {{sensor_group.name}} sample-interval {{sensor_group.sample_interval}}
  {% endfor %}
  destination-id {{subscription.destination_group}}
  source-interface {{source_interface}}
{% endfor %}
end
